<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AFFLATUS</title>

    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>

    <div class="title">
        <h1>Afflatus</h1>
        <p>From <span>UNSPLASH</span></p>
    </div>

    <div id="app">
        <div class="squares">
            <div v-for="(picData, index) in picDatas" class="square" @click="chioce = index">
                <img :class="{ 'vertical': picData['width'] >= picData['height'], 
                'horizontal': picData['height'] >= picData['width']}" :src="picData['urls']['small']" alt="">

                <!-- picData['links']['download'] -->
            </div>
        </div>

        <div class="picShower">
            <div class="picShower_inner">
                <div id="loading">
                    <div class="loadAni"></div>
                </div>

                <p class="picShower_owner">
                    Photo by <a :href="picDatas[chioce]['user']['links']['html']" target="_blank" >{{picDatas[chioce]['user']['name']}}</a> on Unsplash.
                </p>
                
                <div class="picShower_img">
                    <div class="closer" @click="close_picShower">x</div>
                    <img id="targetImg" :class="{ 'vertical2': picDatas[chioce]['width'] >= picDatas[chioce]['height'], 
                    'horizontal2': picDatas[chioce]['height'] >= picDatas[chioce]['width']}" :src="targetImg_src"
                        alt="">
                </div>
                
                <div class="picShower_inf">
                    <div v-for="color in colors" class="color">
                        <div :style="{'background':color}" class="color_square"></div>
                        <div class="color_code">{{color}}</div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
    
    <!-- Vue 3.0 cdn -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>

</body>

</html>